@media (min-width: 768px) {
  .containerp{
    position: relative;
    top: 60px;
    width: 95%;
  }
  .containerp2{
    padding-bottom: 30px;
    background-color: rgb(32,41,64);
    border-radius: 1%;
    color: white;
    box-shadow: 0 16px 26px -10px rgba(3,41,64, 0.56), 0 4px 25px 0px rgba(3,41,64, 0.12), 0 8px 10px -5px rgba(3,41,64, 0.2);
  }
  .menubas-text{display: inline-block;}
  .menubas-icones{display: none;}
}
@media (max-width: 768px) {
  .containerp{
    position: relative;
    top: 60px;
    margin-bottom: 60px;
  }
  .containerp2{
    background-color: rgb(32,41,64);
    border-radius: 1%;
    padding-bottom: 15px;
    color: white;
    box-shadow: 0 16px 26px -10px rgba(3,41,64, 0.56), 0 4px 25px 0px rgba(3,41,64, 0.12), 0 8px 10px -5px rgba(3,41,64, 0.2);
  }
  .menubas-text{display: none;}
  .menubas-icones{display: inline-block;}
}

.modifpost1  a:hover {
  color: white;
  background-color: rgb(32,41,64);
}
.modifpost1 a{
  background-color: rgb(32,41,64);
  color: rgb(115,149,163);
}
 .modifpost1  a:focus{
    background-color: rgb(27,33,54);
}







@media (min-width:1270px) {
  .conteneurposte{
    
  }
  .poste{
    border-right: solid 1px;
  }
 
}


@media (min-width:1200px) and (max-width:1270px) {
   .conteneurposte{
    
  }
  .poste{
    border-right: solid 1px;
  }
}



@media (min-width:992px) and (max-width:1199px) {
    .conteneurposte{
      margin: 0;
    padding: 0;
  }
  .poste{
    border-right: solid 1px;
  }

  .modifpost{
    margin-left: 0;
    margin-right: 0;
    padding-left: 0;
    padding-right: 0;
  }
  .modifpost1{
     margin-left: 0;
    margin-right: 0;
    padding-left: 0;
    padding-right: 0;
  }
  .confi{min-width: 140px;}
 
}
@media (min-width:882px) and (max-width:992px) {
   .conteneurposte{
      margin: 0;
    padding: 0;
  }
  .poste{
  }
  .poste3{
    margin: 0px;
    padding: 0px;
  }
  .modifpost{
    padding-top: 20px;
  }
 

}
@media (min-width:768px) and (max-width:882px) {
     .conteneurposte{
      margin: 0;
    padding: 0;
  }
  .poste{
  }
  .poste3{
    margin: 0px;
    padding: 0px;
  }
  .modifpost{
    padding-top: 20px;
  }
 
}
@media (min-width:600px) and (max-width:768px) {
  .conteneurposte{
    display: inline-block;
    width: 49%;
    margin: auto;
  }
  .poste1{
   text-align: center;
  }
  .poste2{
    display: inline-block;
  }
  .poste{ display: inline-block; }
  .poste3{
  position: relative;
  left: 10px;
  }
  .modifpost{
    padding-top: 20px;
    display: inline-block;
  }
  .modifpost1{
    display: inline-block;
  }

}

@media (min-width: 550px) and (max-width:600px) {
    .conteneurposte{
    display: inline-block;
    width: 98%;
    margin: auto;
    margin-top: 10px;
  }
  .poste{
    width: 60%;
    display: inline-block;
    border-right: solid white 1px;
  }
  .poste1{
   text-align: center;
  }
  .poste2{
    display: inline-block;
  }
  .poste{ display: inline-block; }
  .poste3{
 
  }
  .modifpost{
    width: 35%;
    padding-top: 20px;
    display: inline-block;
  }
  .modifpost1{
  }
  .confi{min-width: 140px;}

}
@media (min-width: 400px) and (max-width:550px) {
   .conteneurposte{
    display: inline-block;
    width: 100%;
    margin: auto;
    margin-top: 10px;
  }
  .poste{
    width: 70%;
    display: inline-block;
    border-right: solid white 1px;
  }
  .poste1{
   text-align: center;
  }
  .poste2{
    display: inline-block;
  }
  .poste{ display: inline-block; }
  .poste3{
 
  }
  .modifpost{
    width: 30%;
    padding-top: 20px;
    display: inline-block;
  }
  .modifpost1{
  }
  .confi{min-width: 140px;}
}

@media(min-width:  350px) and (max-width:400px)
{
   .conteneurposte{
    width: 100%;
    margin-top: 20px;
  }
  .poste{
    width: 99%;
  }
  .poste1{
  }
  .poste2{
    display: inline-block;
  }
  .poste{  }
  .poste3{
 
  }
  .modifpost{
    width: 100%;
    padding-top: 20px;
    display: inline-block;
  }
  .modifpost1{
    display: inline-block;
  }
  .confi{}
}
@media(max-width:  350px)
{
   .conteneurposte{
    width: 100%;
    margin-top: 20px;
  }
  .poste{
    width: 99%;
  }
  .poste1{
  }
  .poste2{
    display: inline-block;
  }
  .poste{  }
  .poste3{
 
  }
  .modifpost{
    width: 100%;
    padding-top: 20px;
    display: inline-block;
  }
  .modifpost1{
    display: inline-block;
  }
  .confi{}
}

























/*

@media (max-width: 768px) {
  .menuinfo{
    padding-bottom: 30px;
    background-color: rgb(32,41,64);
    border-radius: 1%;
    margin: auto;

}

.limenuinfo1{
border-right: ridge ;
display:inline-block;
margin: 0;padding: 0;
font-size: 20px;
color: white;
}
.limenuinfo{
  display:inline-block;
  margin: 0;
  padding: 0;
  font-size: 15px;
  color: white;
}
.menuinfo1 > li > a:hover {
  color: white;
  background-color: transparent;
}
.menuinfo1 a{
  background-color: transparent;
  color: rgb(115,149,163);
}
.menuinfo1 > li > a:focus{
    background-color: transparent;
  box-shadow: 0 16px 26px -10px rgba(27,33,54, 0.56), 0 4px 25px 0px rgba(27,33,54, 0.12), 0 8px 10px -5px rgba(0,128,192, 0.2);
}
 
}

@media (min-width:1270px) {

  .menuinfo{
    padding-bottom: 30px;
    background-color: rgb(32,41,64);
    border-radius: 1%;
    margin: auto;
    width: 75%;
}

.limenuinfo1{
border-right: ridge ;
display:inline-block;
margin: 0;padding: 0;
font-size: 20px;
color: white;
}
.limenuinfo{
  display:inline-block;
  margin: 0;
  padding: 0;
  font-size: 15px;
  color: white;
}
.menuinfo1 > li > a:hover {
  color: white;
  background-color: transparent;
}
.menuinfo1 a{
  background-color: transparent;
  color: rgb(115,149,163);
}
.menuinfo1 > li > a:focus{
    background-color: transparent;
  box-shadow: 0 16px 26px -10px rgba(27,33,54, 0.56), 0 4px 25px 0px rgba(27,33,54, 0.12), 0 8px 10px -5px rgba(0,128,192, 0.2);
}
 

}


@media (min-width:1200px) and (max-width:1270px) {

  .menuinfo{
    padding-bottom: 30px;
    background-color: rgb(32,41,64);
    border-radius: 1%;
    margin: auto;
    width: 75%;
}

.limenuinfo1{
border-right: ridge ;
display:inline-block;
margin: 0;padding: 0;
font-size: 20px;
color: white;
}
.limenuinfo{
  display:inline-block;
  margin: 0;
  padding: 0;
  font-size: 15px;
  color: white;
}
.menuinfo1 > li > a:hover {
  color: white;
  background-color: transparent;
}
.menuinfo1 a{
  background-color: transparent;
  color: rgb(115,149,163);
}
.menuinfo1 > li > a:focus{
    background-color: transparent;
  box-shadow: 0 16px 26px -10px rgba(27,33,54, 0.56), 0 4px 25px 0px rgba(27,33,54, 0.12), 0 8px 10px -5px rgba(0,128,192, 0.2);
}

}
@media (min-width:992px) and (max-width:1199px) {

  .menuinfo{
    padding-bottom: 30px;
    background-color: rgb(32,41,64);
    border-radius: 1%;
    margin: auto;
    width: 75%;
}

.limenuinfo1{
border-right: ridge ;
display:inline-block;
margin: 0;padding: 0;
font-size: 20px;
color: white;
}
.limenuinfo{
  display:inline-block;
  margin: 0;
  padding: 0;
  font-size: 15px;
  color: white;
}
.menuinfo1 > li > a:hover {
  color: white;
  background-color: transparent;
}
.menuinfo1 a{
  background-color: transparent;
  color: rgb(115,149,163);
}
.menuinfo1 > li > a:focus{
    background-color: transparent;
  box-shadow: 0 16px 26px -10px rgba(27,33,54, 0.56), 0 4px 25px 0px rgba(27,33,54, 0.12), 0 8px 10px -5px rgba(0,128,192, 0.2);
}
 
}
@media (min-width:768px) and (max-width:992px) {

  .menuinfo{
    padding-bottom: 30px;
    background-color: rgb(32,41,64);
    border-radius: 1%;
    margin: auto;
    width: 75%;
}

.limenuinfo1{
border-right: ridge ;
display:inline-block;
margin: 0;padding: 0;
font-size: 20px;
color: white;
}
.limenuinfo{
  display:inline-block;
  margin: 0;
  padding: 0;
  font-size: 15px;
  color: white;
}
.menuinfo1 > li > a:hover {
  color: white;
  background-color: transparent;
}
.menuinfo1 a{
  background-color: transparent;
  color: rgb(115,149,163);
}
.menuinfo1 > li > a:focus{
    background-color: transparent;
  box-shadow: 0 16px 26px -10px rgba(27,33,54, 0.56), 0 4px 25px 0px rgba(27,33,54, 0.12), 0 8px 10px -5px rgba(0,128,192, 0.2);
}
 
}
@media (max-width: 450px) {
  .phoned{
    display: none;
  }
  .phonea{}
  }
@media (min-width: 451px) {

  .phonea{display: none;}
  }