



.wizard-container .wizard-navigation {
  position: relative;
}

h1, .h1 {
  font-size: 3.8em;
  line-height: 1.15em;
}

h2, .h2 {
  font-size: 2.6em;
}

h3, .h3 {
  font-size: 1.825em;
  line-height: 1.4em;
  margin: 20px 0 10px;
}

h4, .h4 {
  font-size: 1.3em;
  line-height: 1.4em;
}

h5, .h5 {
  font-size: 1.25em;
  line-height: 1.4em;
  margin-bottom: 15px;
}

h6, .h6 {
  font-size: 0.9em;
  text-transform: uppercase;
}

.card {
  background-color: #FFFFFF;
  padding: 10px 0;
  width: 100%;
  border-radius: 6px;
  color: rgba(0,0,0, 0.87);
  background: #fff;
}

.wizard-card {
  min-height: 410px;
  box-shadow: 0 16px 24px 2px rgba(0, 0, 0, 0.14), 0 6px 30px 5px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.2);
}
.wizard-card .picture-container {
  position: relative;
  cursor: pointer;
  text-align: center;
}
.wizard-card .picture {
  width: 106px;
  height: 106px;
  background-color: #999999;
  border: 4px solid #CCCCCC;
  color: #FFFFFF;
  border-radius: 50%;
  margin: 5px auto;
  overflow: hidden;
  transition: all 0.2s;
  -webkit-transition: all 0.2s;
}
.wizard-card .picture:hover {
  border-color: #2ca8ff;
}
.wizard-card[data-color="purple"] .moving-tab {
  position: absolute;
  text-align: center;
  padding: 12px;
  font-size: 12px;
  text-transform: uppercase;
  -webkit-font-smoothing: subpixel-antialiased;
  background-color: #9c27b0;
  top: -4px;
  left: 0px;
  border-radius: 4px;
  color: #FFFFFF;
  cursor: pointer;
  font-weight: 500;
  box-shadow: 0 16px 26px -10px rgba(156, 39, 176, 0.56), 0 4px 25px 0px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(156, 39, 176, 0.2);
}
.wizard-card[data-color="purple"] .picture:hover {
  border-color: #9c27b0;
}
.wizard-card[data-color="purple"] .choice:hover .icon, .wizard-card[data-color="purple"] .choice.active .icon {
  border-color: #9c27b0;
  color: #9c27b0;
}
.wizard-card[data-color="purple"] .form-group .form-control {
  background-image: linear-gradient(#9c27b0, #9c27b0), linear-gradient(#D2D2D2, #D2D2D2);
}
.wizard-card[data-color="purple"] .checkbox input[type=checkbox]:checked + .checkbox-material .check {
  background-color: #9c27b0;
}
.wizard-card[data-color="purple"] .radio input[type=radio]:checked ~ .check {
  background-color: #9c27b0;
}
.wizard-card[data-color="purple"] .radio input[type=radio]:checked ~ .circle {
  border-color: #9c27b0;
}
.wizard-card[data-color="green"] .moving-tab {
  /*position: absolute;
  text-align: center;
  padding: 12px;
  font-size: 12px;
  text-transform: uppercase;
  -webkit-font-smoothing: subpixel-antialiased;
  background-color: #4caf50;
  top: -4px;
  left: 0px;
  border-radius: 4px;
  color: #FFFFFF;
  cursor: pointer;
  font-weight: 500;
  box-shadow: 0 16px 26px -10px rgba(76, 175, 80, 0.56), 0 4px 25px 0px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(76, 175, 80, 0.2);
*/}
.wizard-card[data-color="green"] .picture:hover {
  border-color: #4caf50;
}
.wizard-card[data-color="green"] .choice:hover .icon, .wizard-card[data-color="green"] .choice.active .icon {
  border-color: #4caf50;
  color: #4caf50;
}
.wizard-card[data-color="green"] .form-group .form-control {
  background-image: linear-gradient(#4caf50, #4caf50), linear-gradient(#D2D2D2, #D2D2D2);
}
.wizard-card[data-color="green"] .checkbox input[type=checkbox]:checked + .checkbox-material .check {
  background-color: #4caf50;
}
.wizard-card[data-color="green"] .radio input[type=radio]:checked ~ .check {
  background-color: #4caf50;
}
.wizard-card[data-color="green"] .radio input[type=radio]:checked ~ .circle {
  border-color: #4caf50;
}
.wizard-card[data-color="blue"] .moving-tab {
  position: absolute;
  text-align: center;
  padding: 12px;
  font-size: 12px;
  text-transform: uppercase;
  -webkit-font-smoothing: subpixel-antialiased;
  background-color: #00bcd4;
  top: -4px;
  left: 0px;
  border-radius: 4px;
  color: #FFFFFF;
  cursor: pointer;
  font-weight: 500;
  box-shadow: 0 16px 26px -10px rgba(0, 188, 212, 0.56), 0 4px 25px 0px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 188, 212, 0.2);
}
.wizard-card[data-color="blue"] .picture:hover {
  border-color: #00bcd4;
}
.wizard-card[data-color="blue"] .choice:hover .icon, .wizard-card[data-color="blue"] .choice.active .icon {
  border-color: #00bcd4;
  color: #00bcd4;
}
.wizard-card[data-color="blue"] .form-group .form-control {
  background-image: linear-gradient(#00bcd4, #00bcd4), linear-gradient(#D2D2D2, #D2D2D2);
}
.wizard-card[data-color="blue"] .checkbox input[type=checkbox]:checked + .checkbox-material .check {
  background-color: #00bcd4;
}
.wizard-card[data-color="blue"] .radio input[type=radio]:checked ~ .check {
  background-color: #00bcd4;
}
.wizard-card[data-color="blue"] .radio input[type=radio]:checked ~ .circle {
  border-color: #00bcd4;
}
.wizard-card[data-color="orange"] .moving-tab {
  position: absolute;
  text-align: center;
  padding: 12px;
  font-size: 12px;
  text-transform: uppercase;
  -webkit-font-smoothing: subpixel-antialiased;
  background-color: #ff9800;
  top: -4px;
  left: 0px;
  border-radius: 4px;
  color: #FFFFFF;
  cursor: pointer;
  font-weight: 500;
  box-shadow: 0 16px 26px -10px rgba(255, 152, 0, 0.56), 0 4px 25px 0px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(255, 152, 0, 0.2);
}
.wizard-card[data-color="orange"] .picture:hover {
  border-color: #ff9800;
}
.wizard-card[data-color="orange"] .choice:hover .icon, .wizard-card[data-color="orange"] .choice.active .icon {
  border-color: #ff9800;
  color: #ff9800;
}
.wizard-card[data-color="orange"] .form-group .form-control {
  background-image: linear-gradient(#ff9800, #ff9800), linear-gradient(#D2D2D2, #D2D2D2);
}
.wizard-card[data-color="orange"] .checkbox input[type=checkbox]:checked + .checkbox-material .check {
  background-color: #ff9800;
}
.wizard-card[data-color="orange"] .radio input[type=radio]:checked ~ .check {
  background-color: #ff9800;
}
.wizard-card[data-color="orange"] .radio input[type=radio]:checked ~ .circle {
  border-color: #ff9800;
}
.wizard-card[data-color="red"] .moving-tab {
  position: absolute;
  text-align: center;
  padding: 12px;
  font-size: 12px;
  text-transform: uppercase;
  -webkit-font-smoothing: subpixel-antialiased;
  background-color: #f44336;
  top: -4px;
  left: 0px;
  border-radius: 4px;
  color: #FFFFFF;
  cursor: pointer;
  font-weight: 500;
  box-shadow: 0 16px 26px -10px rgba(244, 67, 54, 0.56), 0 4px 25px 0px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(244, 67, 54, 0.2);
}
.wizard-card[data-color="red"] .picture:hover {
  border-color: #f44336;
}
.wizard-card[data-color="red"] .choice:hover .icon, .wizard-card[data-color="red"] .choice.active .icon {
  border-color: #f44336;
  color: #f44336;
}

.wizard-card[data-color="red"] .checkbox input[type=checkbox]:checked + .checkbox-material .check {
  background-color: #f44336;
}
.wizard-card[data-color="red"] .radio input[type=radio]:checked ~ .check {
  background-color: #f44336;
}
.wizard-card[data-color="red"] .radio input[type=radio]:checked ~ .circle {
  border-color: #f44336;
}

.wizard-card .picture-src {
  width: 100%;
}
.wizard-card .tab-content {
  min-height: 340px;
  padding: 20px 15px;
}

.wizard-card .btn {
  text-transform: uppercase;
}





/*            Navigation menu                */
.nav-pills {
  background-color: rgba(200, 200, 200, 0.2);
}
.nav-pills > li + li {
  margin-left: 0;
}
.nav-pills > li > a {
  border: 0 !important;
  border-radius: 0;
  line-height: 18px;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 500;
 min-width: 100px;
  text-align: center;
  color: #ffffff !important;
}
.nav-pills > li.active > a,
.nav-pills > li.active > a:hover,
.nav-pills > li.active > a:focus,
.nav-pills > li > a:hover,
.nav-pills > li > a:focus {
  background-color: green;
  box-shadow: 0 16px 26px -10px rgba(76, 175, 80, 0.56), 0 4px 25px 0px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(76, 175, 80, 0.2);

}

.nav-pills > li > a:hover {
  background-color: blue;
  box-shadow: 0 16px 26px -10px rgba(76, 175, 80, 0.56), 0 4px 25px 0px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(76, 175, 80, 0.2);

}

















.navbar-default .logo-container .brand{
    color: #ffffff;
}
.navbar-transparent .logo-container .brand{
    color: #FFFFFF;
}

.logo-container .brand-material{
    font-size: 18px;
    margin-top: 15px;
    height: 25px;
    width: auto;
}

.logo-container .logo img{
    width: 100%;
}
.navbar-small .logo-container .brand{
    color: #333333;
}

.fixed-section{
    top: 90px;
    max-height: 80vh;
    overflow: scroll;
}
.fixed-section ul li{
    list-style: ;
}
.fixed-section li a{
    font-size: 14px;
    padding: 2px;
    display: block;
    color: #666666;
}
.fixed-section li a.active{
    color: #00bbff;
}
.fixed-section.float{
    position: fixed;
    top: 100px;
    width: 200px;
    margin-top: 0;
}


.parallax .parallax-image{
    width: 100%;
    overflow: hidden;
    position: absolute;
}
.parallax .parallax-image img{
    width: 100%;
}

@media (max-width: 768px){
    .parallax .parallax-image{
         width: 100%;
         height: 640px;
         overflow: hidden;
     }
    .parallax .parallax-image img{
       height: 100%;
       width: auto;
   }
}

.separator{
    content: "Separator";
    color: #FFFFFF;
    display: block;
    width: 100%;
    padding: 20px;
}
.separator-line{
    background-color: #EEE;
    height: 1px;
    width: 100%;
    display: block;
}
.separator.separator-gray{
    background-color: #EEEEEE;
}
.social-buttons-demo .btn{
    margin-right: 5px;
    margin-bottom: 7px;
}

.img-container{
    width: 100%;
    overflow: hidden;
}
.img-container img{
    width: 100%;
}

.lightbox img{
    width: 100%;
}
.lightbox .modal-content{
    overflow: hidden;
}
.lightbox .modal-body{
    padding: 0;
}
@media screen and (min-width: 991px){
    .lightbox .modal-dialog{
        width: 960px;
    }
}

@media (max-width: 768px){
    .btn, .btn-morphing{
        margin-bottom: 10px;
    }
    .parallax .motto{
        top: 170px;
        margin-top: 0;
        font-size: 60px;
        width: 270px;
    }
}

/*       Loading dots  */

/*      transitions */
.presentation .front, .presentation .front:after, .presentation .front .btn, .logo-container .logo, .logo-container .brand{
     -webkit-transition: all .2s;
    -moz-transition: all .2s;
    -o-transition: all .2s;
    transition: all .2s;
}


#images h4{
    margin-bottom: 30px;
}
#javascriptComponents{
    padding-bottom: 0;
}
#javascriptComponents .btn-raised{
    margin: 10px 5px;
}


/*      layer animation          */

.layers-container{
    display: block;
    margin-top: 50px;
    position: relative;
}
.layers-container img {
  position: absolute;
  width: 100%;
  height: auto;
  top: 0;
  left: 0;
  text-align: center;
}

.section-black {
  background-color: #333;
}

.animate {
  transition: 1.5s ease-in-out;
  -moz-transition: 1.5s ease-in-out;
  -webkit-transition: 1.5s ease-in-out;
}

.navbar-default.navbar-small .logo-container .brand{
    color: #333333;
}
.navbar-transparent.navbar-small .logo-container .brand{
    color: #FFFFFF;
}
.navbar-default.navbar-small .logo-container .brand{
    color: #333333;
}

.sharing-area{
    margin-top: 80px;
}
.sharing-area .btn{
    margin: 15px 4px 0;
    color: #FFFFFF;
}
.sharing-area .btn i{
    font-size: 18px;
    position: relative;
    top: 2px;
    margin-right: 5px;
}
.sharing-area .btn-twitter{
    background-color: #55acee;
}
.sharing-area .btn-facebook{
    background-color: #3b5998;
}
.sharing-area .btn-google-plus{
    background-color: #dd4b39;
}
.sharing-area .btn-github{
    background-color: #333333;
}
.section-thin,
.section-notifications{
    padding: 0;
}
.section-navbars{
    padding-top: 0;
}
#navbar .navbar{
    border-radius: 0;
}
.section-tabs{
    background: #EEEEEE;
}
.section-pagination{
    padding-bottom: 0;
}
.section-download h4{
    margin-bottom: 50px;
}
.section-examples a{
    text-decoration: none;
}
.section-examples h5{
    margin-top: 30px;
}
.components-page .wrapper > .header,
.tutorial-page .wrapper > .header{
    height: 400px;
    padding-top: 100px;
    background-size: cover;
    background-position: center center;
}
.components-page .title,
.tutorial-page .title{
    color: #FFFFFF;
}

.main {
  background: #FFFFFF;
  position: relative;
  z-index: 3;
}

.main-raised {
    margin: -60px 30px 0px;
    border-radius: 6px;
    box-shadow: 0 16px 24px 2px rgba(0, 0, 0, 0.14), 0 6px 30px 5px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.2);
}

.header-filter {
  position: relative;
}
.header-filter:before, .header-filter:after {
  position: absolute;
  z-index: 1;
  width: 100%;
  height: 100%;
  display: block;
  left: 0;
  top: 0;
  content: "";
}
.header-filter::before {
  background-color: rgba(0, 0, 0, 0.4);
}
.header-filter .container {
  z-index: 2;
  position: relative;
}

.section {
  padding: 70px 0;
  background-position: center center;
  background-size: cover;
}




.navbar, .navbar.navbar-default {
  
  color: #FFFFFF;
}
























@media (min-width:1270px) {
  .coteneur{
    margin:auto;
    width: 100%;
  }
  .titrenom{
    font-size: 20px;
    top: 15px;
  }
  .encourdc{
    width: 80%;  
     
    overflow-x: scroll; 

  }
  .objectifc{
     position: relative;
    top: 15px;
    margin-left: 20;

  }
  .objectif{
    position: relative;
    text-align: left;
    
    margin-left: 30px;
 
  }
  .progressb{
    text-align: center;
    
  }
  .titreattente{
    top: 10px;
    border-radius:20px 20px 0px 0px;
    border: solid 2px rgb(182,190,175);
    margin: 10px;
  }
  .attente1{
    position: relative;
    top:20px;
  }
  .attente{
    top: 5px;
    border-radius:
    0px 0px 0px 0px;
    padding: 0px;
    border: solid 2px rgb(182,190,175);
    margin: 10px;
    height: 320px;
    overflow-y: scroll;
    }
    .titreinfopch{
    top: 10px;
    border-radius:20px 20px 0px 0px;
    border: solid 2px rgb(182,190,175);
    margin-left: 10px;
  }
  .infopch1{
    position: relative;
    top:20px;
    left: 10px;
  }
  .infopch{
    font-size: 15px;
    top: 5px;
    border-radius: 0px 0px 0px 0px;
    padding: 0px;
    border: solid 2px rgb(182,190,175);
    margin: 0px;
    height: 320px;
  }
  .titre{
    position: relative;left: 50px; 
    font-size: 25px;
  }
  .objectifcphone{
    display: none;
  }

}
@media (min-width:1200px) and (max-width:1270px) {
  .coteneur{
    margin:auto;
    width: 100%;
  }
  .encourdc{
    width: 80%;  
     
    overflow-x: scroll; 

  }
  .objectifc{
     position: relative;
    top: 15px;
    margin-left: 20;

  }
  .objectif{
    position: relative;
    text-align: left;
    
    margin-left: 30px;
 
  }
  .progressb{
    text-align: center;
    
  }
  .titreattente{
    top: 10px;
    border-radius:20px 20px 0px 0px;
    border: solid 2px rgb(182,190,175);
    margin: 10px;
  }
  .attente1{
    position: relative;
    top:20px;
  }
  .attente{
    top: 5px;
    border-radius:
    0px 0px 0px 0px;
    padding: 0px;
    border: solid 2px rgb(182,190,175);
    margin: 10px;
    height: 320px;
    overflow-y: scroll;
    }
    .titreinfopch{
    top: 10px;
    border-radius:20px 20px 0px 0px;
    border: solid 2px rgb(182,190,175);
    margin-left: 10px;
  }
  .infopch1{
    position: relative;
    top:20px;
    left: 10px;
  }
  .infopch{
    font-size: 15px;
    top: 5px;
    border-radius: 0px 0px 0px 0px;
    padding: 0px;
    border: solid 2px rgb(182,190,175);
    margin: 0px;
    height: 320px;
  }
  .titre{
    position: relative;left: 50px; 
    font-size: 25px;
  }
  .objectifcphone{
    display: none;
  }
}
@media (min-width:992px) and (max-width:1199px) {
  .coteneur{
    margin:auto;
    width: 100%;
  }
  .encourdc{
    width: 80%;  
     
    overflow-x: scroll; 

  }
  .objectifc{
     position: relative;
    top: 15px;
    margin-left: 20;

  }
  .objectif{
    position: relative;
    text-align: left;
    
    margin-left: 30px;
 
  }
  .progressb{
    text-align: center;
    
  }
   .titreattente{
    top: 10px;
    border-radius:20px 20px 0px 0px;
    border: solid 2px rgb(182,190,175);
    margin: 10px;
  }
  .attente1{
    position: relative;
    top:20px;
  }
  .attente{
    top: 5px;
    border-radius:
    0px 0px 0px 0px;
    padding: 0px;
    border: solid 2px rgb(182,190,175);
    margin: 10px;
    height: 320px;
    overflow-y: scroll;
    }
    .titreinfopch{
    top: 10px;
    border-radius:20px 20px 0px 0px;
    border: solid 2px rgb(182,190,175);
    margin-left: 10px;
  }
  .infopch1{
    position: relative;
    top:20px;
    left: 10px;
  }
  .infopch{
    font-size: 15px;
    top: 5px;
    border-radius: 0px 0px 0px 0px;
    padding: 0px;
    border: solid 2px rgb(182,190,175);
    margin: 0px;
    height: 320px;
  }
  .titre{
    position: relative;left: 50px; 
    font-size: 25px;
  }
  .objectifcphone{
    display: none;
  }
}
@media (min-width:768px) and (max-width:992px) {
 .coteneur{
    margin:auto;
    width: 100%;
  }
  .encourdc{
    width: 75%;  
     
    overflow-x: scroll; 

  }
  .objectifc{
     position: relative;
    top: 15px;
    margin-left: 20;

  }
  .objectif{
    position: relative;
    text-align: left;
    
    margin-left: 30px;
 
  }
  .progressb{
    text-align: center;
    
  }
      .titreattente{
    top: 10px;
    border-radius:20px 20px 0px 0px;
    border: solid 2px rgb(182,190,175);
    margin: 10px;
  }
  .attente1{
    position: relative;
    top:20px;
  }
  .attente{
    top: 5px;
    border-radius:
    0px 0px 0px 0px;
    padding: 0px;
    border: solid 2px rgb(182,190,175);
    margin: 10px;
    height: 320px;
    overflow-y: scroll;
    }
    .titreinfopch{
    top: 10px;
    border-radius:20px 20px 0px 0px;
    border: solid 2px rgb(182,190,175);
    margin-left: 10px;
  }
  .margattente{
    margin: 0;
    padding: 0;
  }
  .infopch1{
    position: relative;
    top:20px;
    left: 10px;
  }
  .infopch{
    font-size: 15px;
    top: 5px;
    border-radius: 0px 0px 0px 0px;
    padding: 0px;
    border: solid 2px rgb(182,190,175);
    margin: 0px;
    height: 320px;
  }
  .titre{
    position: relative;left: 20px; 
    font-size: 25px;
  }
  .objectifcphone{
    display: none;
  }
}

@media (min-width:320px) and (max-width:767px) {
 
 .coteneur{
    margin:auto;
    width: 100%;
  }
  .encourdc{
      width: 100%;  
     
    overflow-x: scroll; 
  }
  .encourdc1{

  }
  .encourdc2{
    display: inline-block;
    width: 200px;

  }
  .objectifc{
    display: none;
  }
  .objectif{
    position: relative;
    text-align: left;
    
    margin-left: 30px;
 
  }
  .progressb{
    text-align: center;
    
  }
   .titreattente{
    top: 10px;
    border-radius:20px 20px 0px 0px;
    border: solid 2px rgb(182,190,175);
    margin: 10px;
  }
  .attente1{
    position: relative;
    top:20px;
  }
  .attente{
    top: 5px;
    border-radius:
    0px 0px 0px 0px;
    padding: 0px;
    border: solid 2px rgb(182,190,175);
    margin: 10px;
    height: 320px;
    overflow-y: scroll;
    }
    .titreinfopch{
    top: 10px;
    border-radius:20px 20px 0px 0px;
    border: solid 2px rgb(182,190,175);
    margin-left: 10px;
  }
  .margattente{
    margin: 0;
    padding: 0;
  }
  .infopch1{
    position: relative;
    top:35px;
    
  }
  .infopch{
    font-size: 15px;
    top: 5px;
    border-radius: 0px 0px 0px 0px;
    padding: 0px;
    border: solid 2px rgb(182,190,175);
    margin: 0px;
    height: 320px;
  }
  .titre{
    position: relative;
    left: 20px; 
    font-size: 25px;
  }
  .objectifcphone{
   position: relative;
    text-align: left;
    
    margin-left: 30px;
 
  }
  .progressb{
    text-align: center;
    
  }
}

@media(max-width:  320px)
{

 .coteneur{
    margin:auto;
    width: 100%;
  }
  .encourdc{
      width: 100%;  
     
    overflow-x: scroll; 
  }
  .encourdc1{

  }
  .encourdc2{
    display: inline-block;
    width: 200px;

  }
  .objectifc{
    display: none;
  }
  .objectif{
    position: relative;
    text-align: left;
    
    margin-left: 30px;
 
  }
  .progressb{
    text-align: center;
    
  }
   .titreattente{
    top: 10px;
    border-radius:20px 20px 0px 0px;
    border: solid 2px rgb(182,190,175);
    margin: 10px;
  }
  .attente1{
    position: relative;
    top:20px;
  }
  .attente{
    top: 5px;
    border-radius:
    0px 0px 0px 0px;
    padding: 0px;
    border: solid 2px rgb(182,190,175);
    margin: 10px;
    height: 320px;
    overflow-y: scroll;
    }
    .titreinfopch{
    top: 10px;
    border-radius:20px 20px 0px 0px;
    border: solid 2px rgb(182,190,175);
    margin-left: 10px;
  }
  .margattente{
    margin: 0;
    padding: 0;
  }
  .infopch1{
    position: relative;
    top:35px;
    
  }
  .infopch{
    font-size: 15px;
    top: 5px;
    border-radius: 0px 0px 0px 0px;
    padding: 0px;
    border: solid 2px rgb(182,190,175);
    margin: 0px;
    height: 320px;
  }
  .titre{
    position: relative;
    left: 8px; 
    font-size: 20px;
  }
  .objectifcphone{
   position: relative;
    text-align: left;
    
    margin-left: 30px;
 
  }
  .progressb{
    text-align: center;
    
  }
}





















